<div class="row">
    <div class="col">
        <h1>Listado de Cotizaciones</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>N° de Cotización</th>
                    <th>Fecha creación</th>
                    <th>Cliente</th>
                    <th>Referencia</th>
                    <th>Total</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <td>1</td>
                <td>02/02/2019</td>
                <td>Cliente Nombre</td>
                <td>Referencia</td>
                <td>$ 12.000</td>
                <td>
                    <button class="btn btn-primary">Detalles</button>
                </td>
            </tbody>
        </table>
    </div>
</div>