<h2 mat-dialog-title>Nueva cotización</h2>
<!-- <div mat-dialog-content> -->
<form [formGroup]="forma">
    <mat-form-field appearence="standard">
        <input matInput placeholder="Código" formControlName="codigo" name="codigo">
        <mat-error>{{ errorCodigo() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearence="standard">
        <input matInput placeholder="Fecha" formControlName="fecha" name="fecha" type="date">
    </mat-form-field>

    <mat-form-field appearence="standard">
        <input matInput placeholder="Referencia" formControlName="referencia" name="referencia">
    </mat-form-field>
    <mat-form-field appearence="standard">
        <input matInput placeholder="Total" formControlName="total" name="total">
    </mat-form-field>
</form>
<div mat-dialog-actions>
    <button [disabled]="forma.invalid" mat-raised-button color="primary" (click)="clkGuardar(forma.value)">Crear</button>
    <button mat-raised-button color="warn" (click)="clkCerrar()">Cerrar</button>
</div>
<!-- </div> -->